<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <title>Flexi Shift Tracker</title>
</head>
<body>
    <h1>Shift Tracker For Flexi Workers</h1>
    <div>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
    <p>
        A simple, free tool to help you work out exactly how much you should be paid, based on the hours you work.
        <a href="/signup">Sign up</a> for an account or calculate a single shift at a time <a href="/calculate">here</a>.
    </p>
</body>
</html>
