<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <title>Flexi Shift Tracker</title>
</head>
<body>
    <div id="homePage">
        <h1>Shift Tracker For Flexi Workers</h1>
        <div>
            <h3 class="loginsignup" id="login"><a href="/login">Sign In</a></h3>
            <h3 class="loginsignup" id="signup"><a href="/signup">Sign Up</a></h3>
        </div>
        <p>
            A simple, free tool to help you work out exactly how much you should
            be paid, based on the hours you work, and your hourly wage.
            Originally designed with Tesco employees in mind, but could be used
            by most people who are on a flexi contract.
        </p>
        <p>
            <a href="/signup">Sign up</a> for an account or try calculating a
            single shift <a href="/calculate">here</a>.
        </p>
    </div>
</body>
</html>
